.sidebar {
    padding: 25px 10px;
    flex: 0.33;
  }

.title {

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */
  
  display: flex;
  align-items: center;
  
  color: #000000;
}  
