.leftbox {
  position: absolute;
  left: 0%;
  right: 51%;
  top: 0px;
  bottom: 1px;
  border-radius: 3px;
  border: 2px solid black;
}

.ver {
  position: absolute;
  left: 63.43%;
  right: 5.56%;
  top: 100px;
  bottom: 78.81%;

  font-family: "Sofia";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 101px;

  align-items: center;
  text-align: center;

  color: #000000;
}

.vercode {
  position: absolute;
  left: 965px;
  right: 8.75%;
  top: 225px;
  bottom: 66.8%;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  color: #000000;

  opacity: 0.5;
}

.otpbox {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 1025px;
  top: 340px;

  background: #f3f3f3;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.desc {
  position: absolute;
  left: 54.86%;
  right: 7.92%;
  top: 50.63%;
  bottom: 29.59%;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;

  color: #000000;
}

.timer {
  position: absolute;
  left: 65.36%;
  right: 18.47%;
  top: 68.58%;
  bottom: 26.76%;

  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;

  color: #000000;
}

.btn {
  position: absolute;
  left: 57.57%;
  right: 10.53%;
  top: 83.37%;
  bottom: 10%;

  background: #d52672;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 15px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}
